{% extends '_partials/main.html.twig' %}

{% block title %}Liste des référencements{% endblock %}
{% block subtitle %}Liste des référencements{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
          <!-- Page Header-->
          	<header> 
            	<h1 class="h3 display">Liste des référencements</h1>
          	</header>
            <div class="card">
                <div class="card-body">
                  	<div class="table-responsive">
                    	<table id="datatable1" style="width: 100%;" class="table table-striped table-sm">
                        	<thead>
                            	<tr>
                                	<th> Annuaire </th>
                                	<th> Site référencé </th>
                                	<th> Réponse </th>
                                	<th> Identifiant/Mail </th>
                                	<th> Observations </th>
                                	<th> Modification </th>
                                    <th></th>
                               	    {% if is_granted("ROLE_ADMIN") %}
                                	<th></th>
                                	{% endif %}
                            	</tr>
                        	</thead>
                      		<tbody>
							{% for seo in seos %}
                            <tr>
                            	<td>
                            		<a onclick="window.open(this.href); return false;" style="text-decoration : none; color : #333;" href="{{ seo.annuary.url }}">{{ seo.annuary.url }}</a>
                            	</td>
                               	<td>
                               		<a onclick="window.open(this.href); return false;" style="text-decoration : none; color : #333;" href="{{ "http://" ~ seo.site.url }}">{{ seo.site.url }}</a>
                               	</td>
                                <td>{{ seo.response }}</td>
                                <td>{{ seo.username }}</td>
                                <td>{{ seo.observations }}</td>
                                <td>{{ seo.editDate ? seo.editDate|date('d/m/Y') : '' }}</td>
                                <td> <a href="{{ path('app_seo_edit', {'id': seo.id}) }}" title="Modifier"> <i class="fa fa-pencil" style="font-size:20px;color:blue"></i></a>
                                </td>
                                {% if is_granted("ROLE_ADMIN") %}
                                <td>
                                <form method="post" action="{{ path('app_seo_delete', {'id': seo.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet élément?');">
                                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seo.id) }}">
                                  <button class="btn p-0"><i class="fa fa-trash" style="font-size:20px;color:red"></i></button>
                                </form>
                                </td>
                                {% endif %}
                            </tr>
        					{% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
      </section>

{% endblock %}
